
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>RM-Metals</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Template styles-->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="~/css/animate.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- Bxslider -->
    <link rel="stylesheet" href="~/css/jquery.bxslider.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="~/js/html5shiv.js"></script>
      <script src="~/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Header start -->
    <header id="header" class="navbar-fixed-top main-nav" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heade_bg">
                    <!--/ Top info start -->
                    <div class="top-info">
                        <ul class="pull-right">
                            <!-- Social links -->
                            <li class="social-icon">
                                <a id="tooltip2" data-toggle="tooltip" data-placement="top" title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a id="tooltip1" data-toggle="tooltip" data-placement="top" title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a id="tooltip3" href="#" data-toggle="tooltip" data-placement="top" title="Google+">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a id="tooltip4" href="#" data-toggle="tooltip" data-placement="top" title="Dribble">
                                    <i class="fa fa-skype"></i>
                                </a>
                                <a id="tooltip2" data-toggle="tooltip" data-placement="top" title="Facebook" href="#">
                                    <i class="fa fa-comments"></i>
                                </a>


                            </li><!-- Social links end-->
                            @Html.Partial("_LoginPartial")

                        </ul>
                    </div><!--/ Top info end -->
                    <!-- Logo start -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="index-2.html">
                            <img class="img-responsive" src="~/images/logo.png" alt="logo">
                        </a>
                    </div><!--/ Logo end -->

                    <nav class="collapse navbar-collapse clearfix" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown active">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li>@Html.ActionLink("Inventory", "Index", "Inventory")</li>
                            @if (Request.IsAuthenticated)
                            {
                               
                            <li class="dropdown">
                                <a href="contact.html" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Report", "Index", "Report")</li>
                                    <li>@Html.ActionLink("UpLoad Inventory", "Create", "Inventory")</li>
                                </ul>
                            </li>
                                }
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">DATA TABLES </a>
                                <!--<ul class="dropdown-menu">
                                    <li><a href="portfolio-4col.html">Portfolio 4col</a></li>
                                    <li><a href="portfolio-item.html">Portfolio Details</a></li>
                                </ul>-->
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">POLICIES </a>
                                <!--   <ul class="dropdown-menu">
                                       <li><a href="blog.html">Blog with Sidebar</a></li>
                                       <li><a href="blog-item.html">Blog Single</a></li>
                                   </ul>-->
                            </li>
                            
                        </ul>
                    </nav><!--/ Navigation end -->


                </div><!--/ Col end -->
            </div><!--/ Row end -->
        </div><!--/ Container end -->
    </header><!--/ Header end -->
    <!-- Slider start -->
    <section id="home">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol><!--/ Indicators end-->
            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="~/images/banner1.png" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h2 class="animated2">
                                <span>Creating A New Standard For Quality, Integrity & Reliability</span>
                            </h2>


                        </div>
                    </div>
                </div><!--/ Carousel item end -->
                <div class="item">
                    <img class="img-responsive" src="~/images/banner1.png" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h2 class="animated4">
                                <span>Creating A New Standard For Quality, Integrity & Reliability</span>
                            </h2>


                        </div>
                    </div>
                </div><!--/ Carousel item end -->
                <div class="item">
                    <img class="img-responsive" src="~/images/banner1.png" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h2 class="animated7">
                                <span>Creating A New Standard For Quality, Integrity & Reliability</span>
                            </h2>


                        </div>
                    </div>
                </div><!--/ Carousel item end -->
            </div><!-- Carousel inner end-->
            <!-- Controls -->
            <a class="left carousel-control" href="#main-slide" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="#main-slide" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div><!-- /carousel -->
    </section>
    <!--/ Slider end -->

    <section id="servicecontact" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 wow bounce animated">
                    <a href="#"><img class="img-responsive" src="~/images/downloadbutton.png"></a>
                </div>

                <div class="col-md-5 col-sm-4 wow bounce animated">
                    <h5>Get In Touch</h5>
                    <h6><i class="fa telicon"></i> Tel : 001 (908) 222-1500    <span class="fax"><i class="fa faximg"></i> Fax : 001 (908) 222-1665</span></h6>
                </div>

                <div class="col-md-4 col-sm-4 wow 	bounce animated">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control search" placeholder="Search">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon"></span>
                            </button>
                        </span>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="service" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 wow fadeInLeft animated">
                    <div class="servicemain">
                        <div class="service-content">
                            <h3>Inventory</h3>
                            <p>We stock stainless steel type 201, 301, 304/304L, 316/316L, 409, 430, and 439 in coil, sheet, and plate form. Besides these types, we can obtain other types and forms as per your specifications.</p>

                        </div>
                        <div class="readmore">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div><!--/ End first service -->
                <div class="col-md-3 col-sm-6 wow fadeInLeft animated">
                    <div class="servicemain">
                        <div class="service-content">

                            <h4>Services</h4>
                            <p>We stock stainless steel type 201, 301, 304/304L, 316/316L, 409, 430, and 439 in coil, sheet, and plate form. Besides these types, we can obtain other types and forms as per your specifications.</p>
                        </div>
                        <div class="readmore1">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div><!--/ End 2nd service -->
                <div class="col-md-3 col-sm-6 wow fadeInLeft animated">
                    <div class="servicemain">
                        <div class="service-content">

                            <h3>Local Distbibution</h3>
                            <p>We stock stainless steel type 201, 301, 304/304L, 316/316L, 409, 430, and 439 in coil, sheet, and plate form. Besides these types, we can obtain other types and forms as per your specifications.</p>
                        </div>
                        <div class="readmore">
                            <a href="#">Read More</a>
                        </div>

                    </div>
                </div><!--/ End 3rd service -->
                <div class="col-md-3 col-sm-6 wow fadeInLeft animated">
                    <div class="servicemain">
                        <div class="service-content last">

                            <h4>Export Sales</h4>
                            <p>We stock stainless steel type 201, 301, 304/304L, 316/316L, 409, 430, and 439 in coil, sheet, and plate form. Besides these types, we can obtain other types and forms as per your specifications.</p>
                        </div>

                        <div class="readmore1">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div><!--/ End 4th service -->
            </div>

            <!---About us---->

            <div class="row aboutusmain">
                <div class="col-lg-12 wow fadeInLeft animated"><h2 class="wellcome">Welcome to <span>RM METALS</span></h2></div>
                <div class="col-md-6 col-sm-6 wow fadeInLeft animated">
                    <img src="~/images/about_us.png" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 wow fadeInLeft animated">
                    <p>RM Metals, a division of RM Creation Inc., is headquatered in New Jersey and has been in existence for over 20 years. Over the years we have developed a solid reputation in the trading and distribution of stainless steel.</p>

                    <p>Worldwide procurement of material allows us to give you a very competitive price. Our company thrives on respect, responsibility, and reputation.</p>
                    <a href="#" class="readmore2">read more</a>
                </div>
            </div>

            <!---End About us---->
        </div>
    </section>


    <section id="service_bottom" class="wow fadeInDown">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <h2 class="wellcome">Testimonials</h2>
                    <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators tesimonialsradios">
                            <li data-target="#tcb-testimonial-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#tcb-testimonial-carousel" data-slide-to="1"></li>
                            <li data-target="#tcb-testimonial-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                                        <figure class="clearfix">
                                            <div class="col-md-3 col-sm-3 col-xs-12"><img class="img-responsive media-object" src="~/images/testimonials_man.png"> </div>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <p>
                                                    RM Metals, a division of RM Creation Inc., is headquatered in New Jersey and has been in existence for over 20 years. Over the years we have developed a solid reputation in the trading and distribution of stainless steel.

                                                </p>
                                                <p>Worldwide procurement of material allows us to give you a very competitive price. Our company thrives on respect, responsibility, and reputation.</p>

                                                <blockquote class="no-margin">
                                                    <p>NAEME HERE : DESIGNATION HERE</p>
                                                </blockquote>

                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                                        <figure class="clearfix">
                                            <div class="col-md-3 col-sm-3 col-xs-12"><img class="img-responsive media-object" src="~/images/testimonials_man.png"> </div>
                                            <div class="col-md-9 col-sm-9 col-xs-12">

                                                <p>
                                                    RM Metals, a division of RM Creation Inc., is headquatered in New Jersey and has been in existence for over 20 years. Over the years we have developed a solid reputation in the trading and distribution of stainless steel.

                                                </p>
                                                <p>Worldwide procurement of material allows us to give you a very competitive price. Our company thrives on respect, responsibility, and reputation.</p>

                                                <blockquote class="no-margin">
                                                    <p>NAEME HERE : DESIGNATION HERE</p>
                                                </blockquote>

                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                                        <figure class="clearfix">
                                            <div class="col-md-3 col-sm-3 col-xs-12"><img class="img-responsive media-object" src="~/images/testimonials_man.png"> </div>
                                            <div class="col-md-9 col-sm-9 col-xs-12">

                                                <p>
                                                    RM Metals, a division of RM Creation Inc., is headquatered in New Jersey and has been in existence for over 20 years. Over the years we have developed a solid reputation in the trading and distribution of stainless steel.

                                                </p>
                                                <p>Worldwide procurement of material allows us to give you a very competitive price. Our company thrives on respect, responsibility, and reputation.</p>

                                                <blockquote class="no-margin">
                                                    <p>NAEME HERE : DESIGNATION HERE</p>
                                                </blockquote>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-6 col-sm-12">
                    <h2 class="wellcome">Loaction</h2>
                    <img src="~/images/map.png" class="img-responsive">
                </div>


            </div>
        </div>
    </section>

    <section id="footer-wrapper">
        <!-- Footer top start -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 wow fadeInRight animated">
                        <div class="quicklinks">
                            <h3 class="footer-title">Quick Links</h3>


                            <ul>
                                <li><a href="#">HOME </a></li>
                                <li><a href="#">LOCAL DISTRIBUTION</a></li>
                                <li><a href="#">EXPORT SALES   </a></li>
                                <li><a href="#">INVENTORY</a></li>
                                <li><a href="#">DATA TABLES   </a></li>
                                <li><a href="#">POLICIES   </a></li>
                            </ul>


                        </div>
                    </div><!--/ end about us -->

                    <div class="col-md-3 col-sm-3 wow fadeInRight animated">
                        <div class="quicklinks">
                            <h3 class="footer-title">Quick Links</h3>
                            <ul>
                                <li><a href="#">HOME </a></li>
                                <li><a href="#">LOCAL DISTRIBUTION</a></li>
                                <li><a href="#">EXPORT SALES   </a></li>
                                <li><a href="#">INVENTORY</a></li>
                                <li><a href="#">DATA TABLES   </a></li>
                                <li><a href="#">POLICIES   </a></li>
                            </ul>
                        </div>
                    </div><!--/ end recent post -->

                    <div class="col-md-3 col-sm-3 wow fadeInRight animated">

                        <h3 class="footer-title">contact Us</h3>
                        <div class="contactaddress">

                            <address>
                                <ul class="list-unstyled">
                                    <li class="footer-sprite address">
                                        50 Cragwood Road, Suite 308<br>
                                        South Plainfield, NJ 07080<br>
                                        USA<br>
                                    </li>
                                    <li class="footer-sprite phone">
                                        Tel : 001 (908) 222-1500
                                    </li>
                                    <li class="footer-sprite email">
                                        <a href="mailto: rmmetals@gmail.com"> rmmetals@gmail.com</a>
                                    </li>
                                </ul>
                            </address>

                        </div>

                    </div><!--/ end flickr -->

                    <div class="col-md-3 col-sm-3 wow fadeInRight animated">
                        <div class="footer-icons">
                            <h3 class="footer-title">Fallow Us</h3>
                            <p class="footer-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                                <a href="#"><i class="fa fa-comments"></i></a>

                            </p>
                            <div class="newsletter">
                                <h4>Newsletter subscription</h4>
                                <form role="form">
                                    <div class="form-group">
                                        <input type="email" class="form-control emailform" id="email" value="E-mail">
                                    </div>
                                </form>
                                <button type="button" class="btn btn-primary submitbutton">Submit</button>
                            </div>
                        </div>
                    </div><!--/ end tweet -->

                </div><!-- Row end -->
            </div><!-- Container end -->
        </footer><!-- Footer top end -->
        <!-- Footer bottom start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">


                    <div class="col-md-12 wow fadeInRight animated" style="visibility: visible;">
                        <div class="copyright-info">
                            <span> Rights Reserved, RM METALS 2011-2016  Copyright</span>
                        </div>
                    </div>
                </div><!-- Row end -->
            </div><!-- Container end -->
        </div><!-- Footer bottom end -->
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="~/js/owl.carousel.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="~/js/smoothscroll.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@

</body>
</html>
