@using PagedList;
@using PagedList.Mvc;
@using RM.Models;

@model Inventory
<link href="~/Scripts/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>

<script type="text/javascript">
    $m = jQuery.noConflict();
</script>

<script type="text/javascript">
    $m(document).ready(function () {



        $('#Pages').change(function () {

            val = $(this).val();
            if (val == 100) {

                window.location.href = '@Html.Raw(@Url.Action("index", "Inventory", new { Pages = 100,
                                       Loc = Model.Loc,
                                       Type = Model.Type,
                                       Finish = Model.Finish,
                                       Gauge = Model.Gauge,
                                       Width = Model.Width,
                                       WTNET = Model.WTNET
                                   }))'

            }
            else if (val == 150) {

                window.location.href = '@Html.Raw(@Url.Action("index", "Inventory", new { Pages = 150,
                                       Loc = Model.Loc,
                                       Type = Model.Type,
                                       Finish = Model.Finish,
                                       Gauge = Model.Gauge,
                                       Width = Model.Width,
                                       WTNET = Model.WTNET
                                   }))'

            }
            else {
                window.location.href = '@Html.Raw(@Url.Action("index", "Inventory", new { Pages = 50,
                                       Loc = Model.Loc,
                                       Type = Model.Type,
                                       Finish = Model.Finish,
                                       Gauge = Model.Gauge,
                                       Width = Model.Width,
                                       WTNET = Model.WTNET
                                   }))'
            }

        });
    });
</script>



<div class="col-md-12 col-sm-6 aboutus wow fadeInLeft animated">
    <div class="bs-example" data-example-id="striped-table">
        <div class="table-responsive">
            <h2 class="wellcome">Inventory</h2>

            @Html.ActionLink("Export To Excel", "Index", new
       {
           Export = 1,
           Loc = Model.Loc,
           Type = Model.Type,
           Finish = Model.Finish,
           Gauge = Model.Gauge,
           Width = Model.Width,
           WTNET = Model.WTNET,
           Pages = Request.QueryString["Pages"],
           sortOrder = Request["sortOrder"]
       })

            @if (Model != null)
            {
                @Html.PagedListPager(Model.IPagedProductsList, page => Url.Action("Index", new
           {
               page,
               Loc = Model.Loc,
               Type = Model.Type,
               Finish = Model.Finish,
               Gauge = Model.Gauge,
               Width = Model.Width,
               WTNET = Model.WTNET,
               Pages = Request.QueryString["Pages"],
               sortOrder = Request["sortOrder"]
           }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })

            }


            <table class="table table-bordered table-hover">
                <thead>
                    @using (Html.BeginForm("Index", "Inventory", new { Pages = ViewBag.Pages }, FormMethod.Post))
                    {

                        <tr>

                            <th>
                                @Html.DropDownListFor(model => model.Loc, Model.GetLocation(), "Location", new { @class = "form-control" })
                            </th>

                            <th>
                                @Html.DropDownListFor(model => model.Type, Model.GetType(), "Type", new { @class = "form-control" })
                            <th>
                                @Html.DropDownListFor(model => model.Finish, Model.GetFinish(), "Finish", new { @class = "form-control" })
                            </th>
                            <th>
                                @Html.DropDownListFor(model => model.Gauge, Model.GetGauge(), "Gauge", new { @class = "form-control" })
                            </th>
                            <th>
                                @Html.DropDownListFor(model => model.Width, Model.GetWidth(), "Width", new { @class = "form-control" })
                            </th>
                            <th>
                                @Html.DropDownListFor(model => model.WTNET, Model.GetWTNET(), "WTNET", new { @class = "form-control" })
                            </th>
                            <th>
                                @Html.DropDownList("Pages", ViewBag.ListItems as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </th>
                            <th>
                                <input type="submit" name="submit" value="search" class="btn btn-default signin" />
                            </th>


                        </tr>


                    }
                </thead>

                <thead>
                    <tr>

                        <th>
                            @Html.ActionLink("Location", "Index", new
                       {
                           Pages = ViewBag.Pages,
                           sortOrder = ViewBag.LocSortParm,
                           Loc = Model.Loc,
                           Type = Model.Type,
                           Finish = Model.Finish,
                           Gauge = Model.Gauge,
                           Width = Model.Width,
                           WTNET = Model.WTNET
                       }, new { style = "color:white" })
                        </th>
                        <th>
                            @Html.ActionLink("Type", "Index", new
                       {
                           Pages = ViewBag.Pages,
                           sortOrder = ViewBag.TypeSortParm,
                           Loc = Model.Loc,
                           Type = Model.Type,
                           Finish = Model.Finish,
                           Gauge = Model.Gauge,
                           Width = Model.Width,
                           WTNET = Model.WTNET
                       }, new { style = "color:white" })
                        </th>
                        <th>
                            @Html.ActionLink("Finish", "Index", new
                       {
                           Pages = ViewBag.Pages,
                           sortOrder = ViewBag.FinishSortParm,
                           Loc = Model.Loc,
                           Type = Model.Type,
                           Finish = Model.Finish,
                           Gauge = Model.Gauge,
                           Width = Model.Width,
                           WTNET = Model.WTNET
                       }, new { style = "color:white" })
                        </th>
                        <th>
                            @Html.ActionLink("Gauge", "Index", new
                       {
                           Pages = ViewBag.Pages,
                           sortOrder = ViewBag.GaugeSortParm,
                           Loc = Model.Loc,
                           Type = Model.Type,
                           Finish = Model.Finish,
                           Gauge = Model.Gauge,
                           Width = Model.Width,
                           WTNET = Model.WTNET
                       }, new { style = "color:white" })
                        </th>
                        <th>
                            @Html.ActionLink("Width", "Index", new
                       {
                           Pages = ViewBag.Pages,
                           sortOrder = ViewBag.WidthSortParm,
                           Loc = Model.Loc,
                           Type = Model.Type,
                           Finish = Model.Finish,
                           Gauge = Model.Gauge,
                           Width = Model.Width,
                           WTNET = Model.WTNET
                       }, new { style = "color:white" })
                        </th>
                        <th>
                            @Html.ActionLink("WTNET", "Index", new
                       {
                           Pages = ViewBag.Pages,
                           sortOrder = ViewBag.WTNETSortParm,
                           Loc = Model.Loc,
                           Type = Model.Type,
                           Finish = Model.Finish,
                           Gauge = Model.Gauge,
                           Width = Model.Width,
                           WTNET = Model.WTNET
                       }, new { style = "color:white" })
                        </th>
                        <th>
                            @Html.ActionLink("NOOFPCS", "Index", new
                       {
                           Pages = ViewBag.Pages,
                           sortOrder = ViewBag.NOOFPCSSortParm,
                           Loc = Model.Loc,
                           Type = Model.Type,
                           Finish = Model.Finish,
                           Gauge = Model.Gauge,
                           Width = Model.Width,
                           WTNET = Model.WTNET
                       }, new { style = "color:white" })
                        </th>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <th>
                                Request Quote
                            </th>
                        }
                    </tr>
                </thead>

                @if (Model != null)
            {
                foreach (var item in Model.IPagedProductsList)
                {
                        <tbody>
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Loc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Finish)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gauge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Width)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WTNET)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOOFPCS)
                                </td>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <td>
                                        <input type="button" value="Request quote" class="btn btn-default signin" id="btnRequestQuote" onclick="if (confirm('Do you want to Request quote?'))
                                                { window.location.href = '@Html.Raw(@Url.Action("index", "Inventory", new { Id = item.Id, 
                            Pages = Request.QueryString["Pages"],
                          sortOrder = Request["sortOrder"],                     
                           Loc = Model.Loc,
                           Type = Model.Type,
                           Finish = Model.Finish,
                           Gauge = Model.Gauge,
                           Width = Model.Width,
                           WTNET = Model.WTNET }))' }" />
                                    </td>
                                }

                            </tr>
                        </tbody>
                    }
                }

            </table>


            @if (Model != null)
            {
                @Html.PagedListPager(Model.IPagedProductsList, page => Url.Action("Index", new
           {
               page,
               Loc = Model.Loc,
               Type = Model.Type,
               Finish = Model.Finish,
               Gauge = Model.Gauge,
               Width = Model.Width,
               WTNET = Model.WTNET,
               Pages = Request.QueryString["Pages"],
               sortOrder = Request["sortOrder"]
           }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })

            }

        </div>
    </div>
</div>
